<div class="post"> 
  <h3><%= @cat.name %></h3>
  <p><%= @cat.title %> </p>
  <p class="cat_show"><%= @cat.title %></p>  
  <p><img src= <%= @cat.url %>> </p>
  <p class="new_cat_form"><a href='/cats/<%= @cat.id %>/stories/new'>Write a new Story</a></p>
</div>
